body {
	height: 200%;
	font: 0.7em Tahoma, serif;
	background-color: #eeeeee;
	padding: 100px;
}
img.card {
	position: absolute;
	cursor: move;
	width:66px;
	z-index: auto;
}
#box {
	border: 1px black solid;
	margin: 10px;
	height: 200px;
	z-index: auto;
	background-color: white;
	width: 1750px;
}
