body {
	height: 200%;
	font: 0.7em Tahoma, serif;
	background-color: #eeeeee;
	padding: 100px;
	padding-top: 0px;
}
img.card {
	position: absolute;
	cursor: move;
	width:66px;
	z-index: auto;
  border: 1px black solid;
}
#box1, #box2 {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  height: 200px;
  z-index: auto;
  background-color: white;
  position: relative;
  float: left;
}

#box1 {
	width: 950px;
	clear: right;
}
#box2 {
	width: 800px;
}

#menu {
	clear: left;
}
